
.horizontal{
    display: flex;
    flex-direction: column;
}
.slds-grid{
     margin-bottom: 30px;
     padding-left: 10px;
     padding-right: 10px;
}
.button-circle-border{
    padding: 3px;
    border-radius: 50%;
    cursor:pointer;

}

.button-circle-border:hover{
    transform:scale(1.1,1.1) translate3d(0,0,0);
}